# 🔔Week09

## Dictionary
- 영어 사전 같은 구조
    - 단어: 뜻
    - 키: 값
    - 순서가 없기 때문에 인덱싱 불가
    - "키를 통해 값을 찾는다."
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 O
    - 타입: dict
    - 형변환: dict()
    - 중괄호{} 사용, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, b: [1, 2, 3, 4, 5]

In [68]:
# dict 선언 방법
empty = dict()
empty = {}
# set {}
empty = {} # dict type
empty = set()
type(empty)

set

In [5]:
a = {1, 2, 3} # a는 set
b = {1: 'tokyo', 2: 'london', 3: 'seoul'} # b는 dict
a, b

({1, 2, 3}, {1: 'tokyo', 2: 'london', 3: 'seoul'})

In [6]:
c = {'':'', '':'', '':''}
c = dict(apple='a', banana='b', kiwi='c')
c

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [7]:
# 출석부로 딕셔너리 만들기
attend = {202201:['james', '경제학과'], 202202:['louis', '컴퓨터공학과'], 202203:['laura', '스페인어과']}
attend

{202201: ['james', '경제학과'],
 202202: ['louis', '컴퓨터공학과'],
 202203: ['laura', '스페인어과']}

### 형 변환

In [70]:
# 튜플도 형 변환 가능
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [69]:
# key가 중복일 시 마지막에 등장한 키 기준으로 값 설정
ex2 = [(1, 2), (2, 3), (1, 5), (3, 1)]
dict(ex2)

{1: 5, 2: 3, 3: 1}

In [13]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [2]:
dict1 = { # 이름: 나라
    'Graham': 'France',
    'Jin': 'Korea',
    'Maeda': 'Japan',
    'Terry': 'China',
    'Michael': 'America'
}

In [3]:
dict1['Jin']

'Korea'

In [4]:
dict1['Chloe'] = 'Canada' # 추가

In [5]:
dict1['Terry'] = 'Italy' # 변경
dict1

{'Graham': 'France',
 'Jin': 'Korea',
 'Maeda': 'Japan',
 'Terry': 'Italy',
 'Michael': 'America',
 'Chloe': 'Canada'}

In [6]:
# 예외 없이
'Chloe' in dict1

True

In [72]:
# get()
dict1.get('Lee', 0) # 있으면 값 반환, 없을 시 None 반환하고 원하는 반환값 설정 가능

0

### 전체 조회
- keys()
- values()
- items()

In [8]:
list(dict1.keys())

['Graham', 'Jin', 'Maeda', 'Terry', 'Michael', 'Chloe']

In [9]:
dict1.values()

dict_values(['France', 'Korea', 'Japan', 'Italy', 'America', 'Canada'])

In [10]:
dict1.items() # (키 ,값) 튜플 형태로 => 순회 많이 씀

dict_items([('Graham', 'France'), ('Jin', 'Korea'), ('Maeda', 'Japan'), ('Terry', 'Italy'), ('Michael', 'America'), ('Chloe', 'Canada')])

In [11]:
for k, v in dict1.items():
    print(f"{k} = {v}")

Graham = France
Jin = Korea
Maeda = Japan
Terry = Italy
Michael = America
Chloe = Canada

In [12]:
[(k, v) for k, v in dict1.items()]

[('Graham', 'France'),
 ('Jin', 'Korea'),
 ('Maeda', 'Japan'),
 ('Terry', 'Italy'),
 ('Michael', 'America'),
 ('Chloe', 'Canada')]

In [13]:
[k[1] for k in dict1.items()] # 0 = key, 1 = value

['France', 'Korea', 'Japan', 'Italy', 'America', 'Canada']

ex1. animal:num_leg 딕셔너리 만드시오.

In [14]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [15]:
num_leg = {}
for k, v in zip(animal, legs):
    num_leg[k] = v
    
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

ex2. dict1에서 이름:나라, 이름 첫 글자만, 나라는 글자 개수로 이뤄진 튜플 (이름, 나라) 리스트로 변환하기
- dict comprehension 쓰지 말기

In [16]:
dict1
# 순회
# 각 요소 변화

{'Graham': 'France',
 'Jin': 'Korea',
 'Maeda': 'Japan',
 'Terry': 'Italy',
 'Michael': 'America',
 'Chloe': 'Canada'}

In [17]:
[(key[0], len(value)) for key, value in dict1.items()]

[('G', 6), ('J', 5), ('M', 5), ('T', 5), ('M', 7), ('C', 6)]

### 값 수정 및 삭제

In [18]:
dict1

{'Graham': 'France',
 'Jin': 'Korea',
 'Maeda': 'Japan',
 'Terry': 'Italy',
 'Michael': 'America',
 'Chloe': 'Canada'}

In [19]:
dict2 = {
    'Groucho': 'Spain',
    'Moe': 'Russia'
}
dict2

{'Groucho': 'Spain', 'Moe': 'Russia'}

In [20]:
dict1.update(dict2)

In [21]:
dict1

{'Graham': 'France',
 'Jin': 'Korea',
 'Maeda': 'Japan',
 'Terry': 'Italy',
 'Michael': 'America',
 'Chloe': 'Canada',
 'Groucho': 'Spain',
 'Moe': 'Russia'}

In [22]:
# python 3에서만 가능한 기능
{**dict2, **dict1}

{'Groucho': 'Spain',
 'Moe': 'Russia',
 'Graham': 'France',
 'Jin': 'Korea',
 'Maeda': 'Japan',
 'Terry': 'Italy',
 'Michael': 'America',
 'Chloe': 'Canada'}

In [23]:
#삭제
del dict1['Chloe']

In [24]:
dict1

{'Graham': 'France',
 'Jin': 'Korea',
 'Maeda': 'Japan',
 'Terry': 'Italy',
 'Michael': 'America',
 'Groucho': 'Spain',
 'Moe': 'Russia'}

In [25]:
del dict1['Lee']

KeyError: 'Lee'

In [26]:
dict1.pop('Groucho')

'Spain'

In [27]:
dict1.pop('Lee', 0) # 없으면 예외는 발생하지만, 예외 시 출력값 지정 가능

0

In [28]:
# 전체 삭제
dict1.clear()
dict1 = {}

In [29]:
dict1

{}

### 복제
- 할당: b = a
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy

In [30]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [31]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [32]:
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [33]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

### 비교
- 같다, 다르다만 가능

In [37]:
a != b

True

## Quiz
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가
3. '성'으로 끝나지 않는 키 삭제하기 del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기 i) key, ii) value

In [38]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [40]:
planet = {}
for k, v in zip(solar_kor, solar_eng):
    planet[k] = v
    
planet

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [41]:
planet['명왕성'] = 'pluto'
planet

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [75]:
dict([(k, planet[k]) for k in planet if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [76]:
universe = dict([(k, planet[k]) for k in planet if k.endswith('성')])
print(sorted(universe.keys())) # key 기준
print(sorted(universe.values())) # value 기준

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'saturn', 'uranus', 'venus']

### Dicdtionary Comprehension

In [44]:
letter = 'apple'
# a: 1, p: 2, ..
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [77]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

In [78]:
{v: word.count(v) for v in set(vowels) if v in word}

{'a': 2, 'o': 4, 'i': 1, 'e': 1}

In [79]:
{w: word.count(w) for w in set(word) if w in vowels}

{'o': 4, 'a': 2, 'i': 1, 'e': 1}

### sorting

In [52]:
def fx(x):
    return x[1]

In [53]:
sorted(planet.items(), key=fx)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [54]:
sorted(planet.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

## Set
- "중복이 없다."
- 집합의 개념 => 교집합, 합집합, 차집합, ...
- 순서가 없기에 인덱싱 X

In [55]:
empty = set()
empty

set()

In [56]:
a = {1, 2, 3}
a

{1, 2, 3}

In [57]:
a = set((1, 2, 3)) # 선언, 형변환
a

{1, 2, 3}

In [58]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [60]:
#삭제
a.remove(4)
a

{1, 2, 3}

In [61]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# vodka가 포함된 술 출력하기
# vodka는 있지만 cream, vermouth 없는 술 출력하기

In [63]:
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [64]:
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

In [65]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b, b - a

({1}, {4})

In [66]:
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [80]:
# frozenset
# 가변 객체를 불변 객체로 변경
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})