# ğŸ””Week12

Store, Item, Customer

#1. AbCustomer -> Customer(ìƒì†)
#2. Person <- Customer(Person)

In [ ]:
class Store(Person): # is-a
    def __init__(customer):
        self.customer = customer # Customer íƒ€ì… # has-a
        self.item = item #
        self.item_list = self.item.name, self.item.price
        
class Item:
    name
    cnt
    price
    
    pass

## ë§¤ì§ë©”ì†Œë“œ
- speical method
- \__\<name>__
- str, repr

In [6]:
class Customer:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        # print() í•¨ìˆ˜ë¡œ ë‚˜ì˜¨ ì¶œë ¥ê°’ì„ ë³€ê²½í•˜ëŠ” ê²ƒ
        return self.name
    
    def __repr__(self):
        # ì„¤ì • ì•ˆ í•˜ë©´ __str__ ë™ì¼í•¨
        # ì¸ìŠ¤í„´ìŠ¤ë¥¼ ì¶œë ¥í•˜ëŠ” ë°©ì‹ => ì‚¬ìš©ìê°€ ì´í•´í•˜ëŠ” ê°ì²´ì˜ ëª¨ìŠµì„ í‘œí˜„
        return f'Customer({self.name})'

c = Customer('kim')

In [7]:
c

Customer(kim)

In [8]:
repr(c)

'Customer(kim)'

In [9]:
str(c)

'kim'

## NamedTuple, DataClass
- ê°ì²´ë³´ë‹¤ íš¨ìœ¨ì ì„ (ê°„ë‹¨í•œ ì†ì„±ë§Œ ê°€ì§„ í´ë˜ìŠ¤ì¼ ê²½ìš° í™œìš©)
- ë”•ì…”ë„ˆë¦¬ì˜ í‚¤ì²˜ëŸ¼ ì‚¬ìš© ê°€ëŠ¥í•˜ë‹¤.
- ë¶ˆë³€ ê°ì²´

In [11]:
from collections import namedtuple

# namedtuple('í´ë˜ìŠ¤ëª…', 'ë³€ìˆ˜')
# ë³€ìˆ˜ê°€ ì—¬ëŸ¬ ê°œì¼ ê²½ìš° ê³µë°±ìœ¼ë¡œ êµ¬ë¶„
Customer = namedtuple('Customer', 'name age')
a = Customer('Park', 33)
a.name, a.age

('Park', 33)

In [12]:
from dataclasses import dataclass
# 3.7 ì´ìƒì—ì„œë§Œ

@dataclass # decorator
class Customer2:
    name: str
    age: int
        
b = Customer2('Song', 25)
b.name, b.age

('Song', 25)

## í•¨ìˆ˜ II
- \*, \**
- ì¼ê¸‰ê°ì²´
- ë‚´ë¶€í•¨ìˆ˜, í´ë¡œì €
- ìµëª…í•¨ìˆ˜
- ì œë„ˆë ˆì´í„°
- ì¬ê·€í•¨ìˆ˜

asterisk: *

In [13]:
def print_arg(*args): #1. ì—¬ëŸ¬ ê°œì˜ ì¸ì => íŒ¨í‚¹
    print(*args) #2. ì–¸íŒ¨í‚¹ë„ ê°€ëŠ¥
    print(args)
    
print_arg(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6
(1, 2, 3, 4, 5, 6)

In [14]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args, 'optional')
    
print_more(1, 2, 'hi')

1 2
hi optional

In [15]:
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [16]:
# í–‰ë ¬, í…Œì´ë¸” ë°ì´í„°
matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]

# 1, 3, 5 / 2, 4, 6 (ì—´ë§Œ íƒ€ê³ ì‹¶ë‹¤)
for item in zip(*matrix): # ê°ê°ì˜ ì›ì†Œë¡œ ì¸ì‹í•˜ë„ë¡ ì–¸íŒ¨í‚¹
    print(item)

(1, 3, 5)
(2, 4, 6)

In [17]:
for item in zip([1, 2], [3, 4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [18]:
# *ëŠ” í‚¤ì›Œë“œ ì „ìš© ì¸ìˆ˜ ì„ ì–¸ ì‹œ ì‚¬ìš©
def print_data(data, *, start, end):
    for item in data[start:end]:
        print(item)
        
print_data(empty, start=0, end=4) # í‚¤ì›Œë“œ ì „ìš© ì¸ìˆ˜ëŠ” í‚¤ì›Œë“œë¥¼ ê¼­ ì‚¬ìš©í•´ì•¼ í•¨.
# print_data(empty, 0, 1)ëŠ” í‚¤ì›Œë“œ ì „ìš© ì¸ìˆ˜ì— í‚¤ì›Œë“œë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šì•˜ê¸°ì— ì˜¤ë¥˜ ë°œìƒ

0
1
2
3

#### kargs: **

In [1]:
def print_kargs(**kargs): # í‚¤: ê°’ => ë”•ì…”ë„ˆë¦¬ë¡œ ë°˜í™˜
    print(kargs)
    # print(**kargs) *ê³¼ëŠ” ë‹¬ë¦¬ ì–¸íŒ¨í‚¹ X
    
print_kargs(wine='crianza', drink='water')

{'wine': 'crianza', 'drink': 'water'}

In [2]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine=wine, drink='water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [21]:
def print_all(num1, num2, *args, **kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
print_all(1, 2, 3, 4, 5, 6, num=4)

1 2
18
{'num': 4}

In [22]:
# ë”•ì…”ë„ˆë¦¬ ì¡°ì¸
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
{**a, **b}

{1: 'a', 2: 'c', 3: 'd'}