# 🔔Week12

Store, Item, Customer

#1. AbCustomer -> Customer(상속)
#2. Person <- Customer(Person)

In [ ]:
class Store(Person): # is-a
    def __init__(customer):
        self.customer = customer # Customer 타입 # has-a
        self.item = item #
        self.item_list = self.item.name, self.item.price
        
class Item:
    name
    cnt
    price
    
    pass

## 매직메소드
- speical method
- \__\<name>__
- str, repr

In [6]:
class Customer:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        # print() 함수로 나온 출력값을 변경하는 것
        return self.name
    
    def __repr__(self):
        # 설정 안 하면 __str__ 동일함
        # 인스턴스를 출력하는 방식 => 사용자가 이해하는 객체의 모습을 표현
        return f'Customer({self.name})'

c = Customer('kim')

In [7]:
c

Customer(kim)

In [8]:
repr(c)

'Customer(kim)'

In [9]:
str(c)

'kim'

## NamedTuple, DataClass
- 객체보다 효율적임 (간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리의 키처럼 사용 가능하다.
- 불변 객체

In [11]:
from collections import namedtuple

# namedtuple('클래스명', '변수')
# 변수가 여러 개일 경우 공백으로 구분
Customer = namedtuple('Customer', 'name age')
a = Customer('Park', 33)
a.name, a.age

('Park', 33)

In [12]:
from dataclasses import dataclass
# 3.7 이상에서만

@dataclass # decorator
class Customer2:
    name: str
    age: int
        
b = Customer2('Song', 25)
b.name, b.age

('Song', 25)

## 함수 II
- \*, \**
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

asterisk: *

In [13]:
def print_arg(*args): #1. 여러 개의 인자 => 패킹
    print(*args) #2. 언패킹도 가능
    print(args)
    
print_arg(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6
(1, 2, 3, 4, 5, 6)

In [14]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args, 'optional')
    
print_more(1, 2, 'hi')

1 2
hi optional

In [15]:
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [16]:
# 행렬, 테이블 데이터
matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]

# 1, 3, 5 / 2, 4, 6 (열만 타고싶다)
for item in zip(*matrix): # 각각의 원소로 인식하도록 언패킹
    print(item)

(1, 3, 5)
(2, 4, 6)

In [17]:
for item in zip([1, 2], [3, 4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [18]:
# *는 키워드 전용 인수 선언 시 사용
def print_data(data, *, start, end):
    for item in data[start:end]:
        print(item)
        
print_data(empty, start=0, end=4) # 키워드 전용 인수는 키워드를 꼭 사용해야 함.
# print_data(empty, 0, 1)는 키워드 전용 인수에 키워드를 사용하지 않았기에 오류 발생

0
1
2
3

#### kargs: **

In [1]:
def print_kargs(**kargs): # 키: 값 => 딕셔너리로 반환
    print(kargs)
    # print(**kargs) *과는 달리 언패킹 X
    
print_kargs(wine='crianza', drink='water')

{'wine': 'crianza', 'drink': 'water'}

In [2]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine=wine, drink='water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [21]:
def print_all(num1, num2, *args, **kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
print_all(1, 2, 3, 4, 5, 6, num=4)

1 2
18
{'num': 4}

In [22]:
# 딕셔너리 조인
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
{**a, **b}

{1: 'a', 2: 'c', 3: 'd'}